body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
   }
   header {
    background-color: #95BBD5;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
   }
   header ul {
    float: right;
    color: white;
    font-family: 'Poppins', sans-serif;
   }
   header li {
    display: inline-block;
    padding: 0px 25px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
   }
   
   .heroImg {
    background-color: #EBEBEB;
    padding: 100px 15px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
   }
   .content {
    max-width: 700px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
   }
   button {
    padding: 15px;
    background-color: #95BBD5;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
   }
/* start of skills section*/
.icon {
    height: 25;
    width: 25;
    
}
.columnHeading h1{
    font-size: 48px;
    font-weight: 600;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
}
.flexItem {
   margin-right: 250px;
    margin-left: 250px;
    padding: 10px;
    width: 250px;
    height: 250px;
    font-family: 'Poppins', sans-serif;
    
   }

   .flexContainer {
    display: flex;
    height: 950px;
    background-image: url("../images/mountainfog.jpeg");
    margin: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
   }
   .justifyContent {
    justify-content: center;
    font-family: 'Poppins', sans-serif;
   }
   
h3{
    font-size: 34px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

/** start of My Work section****/

 
#categoryGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 600px 600px 600px 600px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
    "AACAT AACAT AACAT"
    "Presto Presto Presto"
    "BEP BEP BEP"
    "Sherpa Sherpa Sherpa"
    ;
   }
    
   #AACAT {
    grid-area: AACAT;
    background-image: url("../images/AACAT.png");
   padding-bottom: 30px;
   }
   #Presto {
    grid-area: Presto;
    background-image: url("../images/pasta.jpeg");
    padding-bottom: 30px;
   }
    
   #BEP {
    grid-area: BEP;
    background-image: url("../images/BEP.png");
    padding-bottom: 30px;
   }
    
  
     #Sherpa {
    grid-area: Sherpa;
    background-image: url("../images/sherpa.png");
    padding-bottom: 30px;
   }
    
   .categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
   }
    
   .heading {
    background-color:#95BBD5;
    padding: 15px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid #95BBD5;
    font-family: 'Poppins', sans-serif;
   }
   


   footer {
    background-color: #95BBD5;
    padding: 5px;
    color: white;
   }
   footer ul {
    list-style: none;
    padding-left: 5px;
   }
   footer li {
    display: inline-block;
    padding: 0px 25px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
   }

  
 